.datepicker-full-width {
  width: 100%;
  display: block;
}

.datepicker-full-width .react-datepicker-wrapper {
  width: 100%;
  display: block;
}

.datepicker-full-width .react-datepicker__input-container {
  width: 100%;
  display: block;
}

.datepicker-full-width .react-datepicker__input-container input {
  width: 100%;
}
